body {
    margin: auto;
    display: flex;
    justify-content: center;
}

#background {
    width: 1300px;
    height: 750px;
}

.background_img{
    object-fit: fill;
    overflow: hidden;
    position: absolute;
    width: 1300px;
    height: 750px;
    z-index: -1;
}



.time_text,.count_text {
    font-size: 80px;
    margin: 0;
    text-align: center;
}

.play_box {
    display: flex;
    justify-content: center;
    margin: 20px;
    align-items: center;
}

i:hover{
    transform: scale(1.1);
}

.fa-play-circle, .fa-stop-circle{
    font-size: 72px;
    
    
}

.play_box .fa-stop-circle{ 
    display: none;  
    /* .play_box 안쓰니까 적용이 안댐*/
}


.pop_up{
    background-color: antiquewhite;
    border: 5px gray solid;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 15px 90px;
    margin-top: 40px;
    top:400px;
    display: none;
}

.fa-redo {
    font-size: 72px;
}
.pop_up p {
    margin: 0;
    margin-bottom: 24px;
    font-size: 64px;
    font-weight: bold;
}

.pop_up i {
    
}

.carrot,.bug {
    width: 80px;
    height: 90px;
}

.carrot:hover,.bug:hover{
    transform: scale(1.1);
}